
#guide https://docs.npmjs.com/misc/developers#keeping-files-out-of-your-package
.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
docs
src
src/
.babelrc
config
config/
.prettierrc
.prettierignore
.eslintrc
styleguide.config.js
docs.js
documents
node_modules/
npm-debug.log
tests
coverage/
