* {
    margin: 0 auto;
}

.app {
    color: linen;
    text-align: center;
}

.app__body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: rgb(17, 17, 17);
    height: 50%;
    width: 90vh;
    margin-top: 1%;
    box-shadow: -1px -4px 20px -6px rgba(0, 0, 0, 0.2);
}
.padding {
    padding-top: 5%;
}

.img__style {
    max-width: 100%;
    height: auto;

    animation: rotate 5s infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
p {
    padding-top: 50px;
    color: linen;
    text-align: center;
}
h1 {
    color: linen;
    text-align: center;
}
